/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap"); */

@font-face {
    font-family: "helvetica";
    src: url("../fonts/Helvetica.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "helvetica";
    src: url("../fonts/Helvetica-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "noto";
    src: url("../fonts/NotoSansDisplay-VariableFont_wdth\,wght.ttf");
    font-style: normal;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* RESPONSIVE CONTAINER */
.container {
    max-width: 117rem;
    margin: 0 auto;
}

/* 992px */
@media only screen and (max-width: 62em) {
    .container {
        padding: 0 2rem;
    }
}

/*  Media queries for 400px */
@media only screen and (max-width: 25em) {
    .container {
        padding: 0 1rem;
    }
}

html,
body,
div,
span,
img,
ol,
ul,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
option,
legend,
label,
table,
th,
td,
tr,
article,
aside,
caption,
figure,
footer,
header,
hgroup,
mark,
nav,
section,
time,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

img {
    max-width: 100%;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none !important;
    border: 0;
}

input:focus {
    outline: none;
}

input::-moz-focus-inner {
    border: 0;
    display: none;
}

input::-webkit-focus-inner {
    border: 0;
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

select {
    padding: 4px;
    margin: 0;
    background: transparent;
    color: #000;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: #e0e0e0;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    color: #e0e0e0;
    opacity: 1;
    /* Firefox */
}

::-ms-input-placeholder {
    color: #cdcdcd;
    opacity: 1;
    /* Firefox */
}

::-moz-placeholder {
    font-size: 1.4rem;
    line-height: 90px;
    color: #e0e0e0;
    font-weight: 400;
    font-family: helvetica;
    /* Firefox */
}

::placeholder {
    font-size: 1.4rem;
    line-height: 90px;
    color: #e0e0e0;
    font-weight: 400;
    font-family: helvetica;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #e0e0e0;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #e0e0e0;
}

table {
    border-collapse: collapse;
}

figure {
    margin: 0px;
}

form {
    position: relative;
}

.form-control:focus {
    outline: none !important;
    border: none !important;
    box-shadow: 0 0 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-size: inherit;
    color: inherit;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a,
h6:hover a {
    font-size: inherit;
    color: inherit;
}

hr {
    margin: 0;
    padding: 0;
    border-color: #000;
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
    position: relative;
}

a,
button {
    font-family: helvetica;
    font-weight: 700;
    position: relative;
}

a:hover,
a:focus,
button:hover,
button:focus {
    outline: 0;
    text-decoration: none;
}

input,
textarea,
button {
    border: 0px;
}

/* --------------------------------------------
    Template Default Fonts & Fonts Styles
 ---------------------------------------------- */
body {
    font-family: noto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: helvetica;
    margin: 0px;
    line-height: 1.2;
    font-weight: bold;
}

span {
    font-family: helvetica;
}

a {
    font-family: helvetica;
    text-decoration: none;
    font-weight: 400;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #202426;
}

.coverbg {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover !important;
}

.mx-auto {
    margin: 0 auto;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-content-center {
    justify-content: center !important;
    display: flex;
    flex-wrap: wrap;
}

.justify-content-center:before,
.justify-content-center:after {
    content: none;
}
